<div class="header-bar">
    <a class="logo" href="/">
        <p class="logo-text">
            Crypto<span>Watcher</span>
        </p>
    </a>

    <div>
        <a href="https://github.com/marfusios/crypto-watcher-blazor"
           aria-label="Star marfusios/crypto-watcher-blazor on GitHub">Github Repository</a>
    </div>

</div>