<aside class="navmenu">
    <div class="menu-container">
        <nav class="menu">
            <ul>
                <li class="menu-item">
                    <NavLink href="/" Match="NavLinkMatch.All"><i class="lab la-bitcoin" title="Prices"></i> <span>Prices</span></NavLink>
                </li>
                <li class="menu-item">
                    <NavLink href="/l3" Match="NavLinkMatch.All"><i class="las la-coins" title="Order Book - L3"></i> <span>Order Book (L3)</span></NavLink>
                </li>
            </ul>
        </nav>
    </div>
</aside>
